# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/

# Node
node_modules/
dist/
*.log

# Docker
.docker/
.dockerignore

# Database
db.sqlite3

# OS
.DS_Store
Thumbs.db